extends layout

block content
  form(method="POST", target="./")
            input(type="text", id="htmltext", name="htmltext")
            input(type="hidden", name="htmltext")
            input(type="submit", value="送信")
