doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="javascripts/rankingView.js")
    title rankingView
  body
    h1 キャラクター人気ランキング
    nav
      ul#ranking(style="list-style:none")
     